<div class="container p-3">
  <h6 class="mb-3">Compression Ratio</h6>
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <button ngbNavLink>Static</button>
      <ng-template ngbNavContent>
        <div class="mb-3">
          <label class="form-label">Bore</label>
          <input type="text" class="form-control" [(ngModel)]="bore">
        </div>
        <div class="mb-3">
          <label class="form-label">Stroke</label>
          <input type="text" class="form-control" [(ngModel)]="stroke">
        </div>
        <div class="mb-3">
          <label class="form-label">Unswept Volume</label>
          <input type="text" class="form-control" [(ngModel)]="uVolume">
        </div>
        <div class="mb-3">
          <button type="button" class="btn btn-primary" (click)="calculate()">Calculate</button>
        </div>
        <pre>Compression Ratio: {{ getCompressionRatio() }}</pre>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <button ngbNavLink>Dynamic</button>
      <ng-template ngbNavContent>

      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>

  <div class="px-4 py-3 my-3 text-center">
    <img class="img-thumbnail d-block mx-auto mb-4" src="assets/avatar.png" alt="" width="200" height="120" style="border-radius: 50%;">
    <h1 class="display-5 fw-bold">Best Ecu Tuner</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Enrich De Chavez</p>
    </div>
  </div>

</div>